$white-color: #FFFFFF;

$black-01-color: #000000;
$black-02-color: #393939;
$black-03-color: #1E1E1E;
$black-04-color: #4A4A4A;
$black-05-color: #181818;
$black-05-color: #575757;

$blue-main-color: #01BCD6;
$blue-secondary-color: #0AB0D2;

$purple-color: #4B59B8;

$stage-01-color: #EFF5BD33;
$stage-02-color: #E2F1C166;
$stage-03-color: #D8EDC466;
$stage-04-color: #CAE9C866;

$underline-gradient: linear-gradient(to right, #47B14A 0, #CDDF20 100%);